allure-pytest
allure-python-commons
httpx
playwright
pytest
pytest-asyncio
pylint-fail-under
pytest-xdist
pytest-bdd
pytest-factoryboy
pytest-rerunfailures
playwright-stealth
pytest-playwright
pytest-playwright-snapshot
pytest-html
pytest-html-reporter
pytest-metadata
pytest-order
simplejson
setuptools
pathlib2
py
pytest-reportportal
pyleniumio
Faker
pytest-json-report
PyHamcrest
rich
